nav.menu.mb-4.pt-4
  ul.flex
    li.menu__item.m.mr-3
      a.p-1.border-4.border-double.border-opacity-50(href="/index.html") HOME
    li.menu__item.m.mr-3
      a.p-1.border-4.border-double.border-opacity-50(href="/access.html") ACCESS
    li.menu__item.m.mr-3
      a.p-1.border-4.border-double.border-opacity-50(href="#") ABOUT
    li.menu__item.m.mr-3
      a.p-1.border-4.border-double.border-opacity-50(href="#") SERVICE
    li.menu__item.m.mr-3
      a.p-1.border-4.border-double.border-opacity-50(href="#") CONTACT
