nav.menu
  ul
    li.menu__item
      a(href="/index.html") HOME
    li.menu__item
      a(href="/access.html") ACCESS
    li.menu__item
      a(href="#") ABOUT
    li.menu__item
      a(href="#") SERVICE
    li.menu__item
      a(href="#") CONTACT
