extends _layout.pug

block locals
  - var title = 'Hello Pug!';

block content
  .text-center
    h1.title.text-primary-800.text-center.w-10.h-1.bg-green-500 Hi! I'm John!
    #react-boot
    .main-image
      img.icon(src="../images/man-smiles.jpg")
