extends _layout.pug

block locals
  - var title = 'Hello Pug!';

block content
  h1.titletext-lime-600.dark_text-lime-400.text-sm.sm_text-base.lg_text-sm.xl_text-base.font-semibold.uppercase Hi! I'm John!
  #react-boot
  .main-image
    img.icon(src="../images/man-smiles.jpg")
