@tailwind base;
@tailwind components;
@tailwind utilities;

@import './footer.scss';

$primary-color: #3f3f3f;

body {
  background-color: darkgoldenrod;
}
.title {
  color: $primary-color;
  font-size: 24px;
}
.title-lg {
  @extend .title;
  font-size: 36px;
}

nav ul {
  display: flex;
  margin: 0;
  li {
    display: flex;
    list-style: none;
    a {
      color: #f3f3f3;
      margin-right: 30px;
      border-bottom: 0px;
    }
  }
}
